#search-box{
    text-align: center !important;
    padding-right: 180px !important;
}

.container {
    max-height: 750px;
    overflow-y: scroll;
}

.pages{
    margin-top: -1px;
    padding-left: 850px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.answeruser {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    background-color:#E3F1EE;
}

/* #searchy{
    text-align: center !important;
    
} */

#ask-button{
    padding-right: 20px !important;
}

#ask-button{
    padding-right: 20px !important;
}