.form-control{
    width:800px !important;
}

.container_inside{
    width: 85%;
    margin-left: 2px;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    overflow-y: scroll !important;
}

.container_out{
    overflow-y: scroll !important;
}


/* #2C3531 */
/* .navbar{
    position: fixed;
    width: 100%;
    background-color: #F0CEC8 !important;
    background-color: #03045e !important;
    height:56px;
} */

.navbar{
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to left, #03045e, #00c6ff);
  }
  

@media (max-width: 768px) {
    .navbar{
        background-color: #F0CEC8 !important;
    }
}

#Logo{
    position: relative;
    padding-left: 70px;
    padding-right: 76px;
    margin-top: 0% !important;
}
#search {
    background-color: #ffffff !important;
    color: #5b3f3f !important;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.373) !important;
}




#login{
    margin-left: 200px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.228) !important; */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.373) !important;

}
#SignUp{
    margin-left: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.228) !important; */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.373) !important;
}

.col-auto{
    background-color: #116466 !important;
}

.col{
    background-color: #D9D9D9 !important;
}
 .row {
    margin-top: 30px;
}




.sidebar {
    position: fixed;
    /* background-color: #F0CEC8 !important; */
    /* background-color: #B6D7E4 !important; */
    /* background-color: #eff0f52b !important; */
    /* background-color: #EFF0F5 !important; */
    background-color: #9de5fc!important;
    /* background-color: #f4fbb0; */
    width: 200px;
    height: 100%;
    position: fixed;
    top: 56px;
    left: 0;
    padding-top: 20px;
    
    
  }
  /* #116466; */
  .button {
    font-weight: bold;
    /* background-color:  #2C3531; */
    /* background-color: #B6D7E4 !important; */
    /* background-color: #9de5fc!important; */
    /* background-color: #ffffff!important; */
    background-color: #9de5fc!important;
    /* background-color: #eff0f52b !important; */
    border: none;
    color: #D9B08C;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    color: black;
    border-color: #002292;
    margin-top: 0px;
    
    /* background-image: linear-gradient(to right,  #00c6ff,#ffffff); */
    
  }
  
  .button:hover {
    /* background-color: #D9B08C !important; */
    background-color: #EFF0F5 !important;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.228) !important;
    background-image: radial-gradient(circle at center, #ffffff, #dfe6e8);
  }
  
  .content {
    position: fixed;
    top:56px;
    width:100%;
    height: 100%;
    margin-left: 200px;
    padding: 20px;
    background-color: #F0F8FF !important;

  }
  
  
#searchy{
    padding-left:50px !important;
}