.k,
.queri {
  font-family: var(--font-inter);
}
.k {
  font-weight: 700;
}
.querikorner {
  margin: 0;
  position: absolute;
  top: 19px;
  left: 0;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 38px;
}
.logoprm-3-icon {
  position: absolute;
  top: 0;
  left: 171px;
  width: 45px;
  height: 40px;
  object-fit: cover;
}

.querikorner-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 216px;
  height: 57px;
  flex-shrink: 0;
}
.frame-child {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 902px;
  height: 53px;
}
.search-here {
  margin: 0;
  position: absolute;
  top: 9px;
  left: 95px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 356px;
  height: 38px;
}
.search-icon {
  position: absolute;
  top: 3px;
  left: 20px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.login,
.rectangle-parent {
  position: relative;
  flex-shrink: 0;
}
.rectangle-parent {
  width: 902px;
  height: 53px;
}
.login {
  margin: 0;
  text-decoration: none;
  font-size: var(--font-size-11xl);
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 83px;
}
.frame-parent,
.login-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login-wrapper {
  height: 50px;
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 52px var(--padding-3xs) 72px;
  background-color: var(--color-tan);
  border-radius: var(--br-11xl);
  width: 170px;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: flex-end;
}
.frame-parent {
  position: fixed;
  top:0;
  height: 75px;
  width: 100%;
  align-self: stretch;
  background-color: var(--color-darkslategray);
  padding: var(--padding-3xs) var(--padding-4xs);
  justify-content: space-between;
}
.home {
  position: fixed;
  
  color: var(--color-black); 
  text-decoration: none;
  margin: 0;
  position: relative;
  
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: var(--font-inter);
  text-align: center;
}

.home-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tan);
  align-self: stretch;
  height: 68px;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.globe-icon {
  position: relative;
  width: 31px;
  height: 26px;
  flex-shrink: 0;
  object-fit: cover;
}
.questions {
  text-decoration: none;
  margin: 0;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-navajowhite);
  text-align: center;
}
.globe-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.frame-item,
.frame-wrapper {
  align-self: stretch;
  overflow: hidden;
}
.frame-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) 0;
  background-color: var(--color-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-item {
  position: relative;
  max-width: 100%;
  height: 1.89px;
  flex-shrink: 0;
}
.tags-wrapper,
.users-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-45xl);
  background-color: var(--color-teal);
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.users-wrapper {
  padding: var(--padding-xs) var(--padding-35xl);
}
.frame-group,
.templete {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-group {
  position: fixed;
  height: 100%;
  top: 75px;
  flex: 1;
  background-color: var(--color-teal);
  align-items: center;
  justify-content: flex-start;
  padding: 75px 0 0 0 ;
}
.templete {
  position: relative;
  background-color: var(--color-lightcyan);
  width: 100%;
  height: 982px;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
