#sample-card{
    width:86.5% !important;
    background-color:#E3F1EE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}


#samp{
    width:100% !important;
    
}

#space{
    padding-top: 2%;
}

#new{
    overflow-y: scroll;
    height: 75%;

}

#vote-button{
    background-color: rgb(64,133,88);
}

#answer-button{
    background-color: rgb(64,133,88);
}

#user-name{
    background-color: rgb(158,144,255);
    color: white;
}

#btn1{
    background-color: rgb(238, 245, 244);
    color:rgb(41, 93, 207);
    margin-left: 700px;
    /* font-weight: bold; */
}
#btn2{
    background-color: rgb(238, 245, 244);
    color:rgb(41, 93, 207);
    /* font-weight: bold; */
}
#tag_desc {
    font-size: 12px;
    padding: 4px 6px;
}
.card-text {
font-size: 14px;
}
.card-title a {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.button-68 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-68:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .button-68:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .button-68:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }
  #sample-card{
    width: 85% !important;
    min-height:10px;
    background-color: #fff !important;
    padding: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    transform: translate(0, -10px);
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
    border-radius: 00px;
  }
  
  
  
  #sample-card:hover {
    transform: translate(0, -15px);
  }
  #inbox{
    margin-top: -38px;
  }
  #sibox{
    margin-top: -20px;
  }

#texter{
    text-decoration: none !important;
}

#page_change{
  margin-left: 1200px !important;
  margin-top: 0px !important;

}