.tag-description{
    width: 75% !important;
    background-color: #E3F1EE !important;
    /* background-blend-mode: luminosity; */
    padding: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}

#new{
    overflow-y: scroll;
    height: 89%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    column-gap: 0px !important;
    width: 1300px !important;
}

#tag-button:hover{
    background-color:#116466;
    color: #FFCB9A;
}

#tag-button{
    background-color:rgb(104, 207, 238);
    color:black;
}

#btn1{
    background-color: rgb(238, 245, 244);
    color:rgb(41, 93, 207);
    margin-left: 700px;
    /* font-weight: bold; */
}
#btn2{
    background-color: rgb(238, 245, 244);
    color:rgb(41, 93, 207);
    /* font-weight: bold; */
}
#btn3{
    background-color: rgb(238, 245, 244);
    color:rgb(41, 93, 207);
}
