.ask-query-child,
.ask-query-inner,
.ask-query-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.ask-query-inner,
.ask-query-item {
  background-color: var(--color-darkslategray);
  height: 75px;
}
.ask-query-inner {
  top: 10px;
  left: 355px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
}
.search-here11 {
  position: absolute;
  top: 19px;
  left: 450px;
  display: inline-block;
  width: 356px;
  height: 38px;
}
.k15 {
  font-weight: 700;
}
.querikorner15 {
  position: absolute;
  top: 19px;
  left: 9px;
  color: var(--color-white);
  display: inline-block;
  width: 177px;
  height: 38px;
  cursor: pointer;
}
.ask-query-child1,
.ask-query-child2 {
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
}
.ask-query-child1 {
  position: absolute;
  top: 75px;
  height: 907px;
}
.ask-query-child2 {
  top: 225px;
  height: 75px;
}
.ask-query-child2,
.ask-query-child3,
.home15 {
  position: absolute;
  cursor: pointer;
}
.ask-query-child3 {
  top: 150px;
  left: 0;
  background-color: var(--color-tan);
  width: 225px;
  height: 75px;
}
.home15 {
  top: 168px;
  left: 54px;
  display: inline-block;
  text-align: center;
  width: 117px;
}
.ask-query-child4 {
  position: absolute;
  top: 150px;
  left: 222px;
  background-color: var(--color-firebrick);
  width: 3px;
  height: 75px;
}
.ask-query-child5,
.ask-query-child6 {
  position: absolute;
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
  cursor: pointer;
}
.ask-query-child6 {
  top: 375px;
}
.globe-icon15 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions15 {
  top: 245px;
  left: 7px;
  width: 211px;
}
.questions15,
.tags31,
.users16 {
  position: absolute;
  display: inline-block;
  color: var(--color-navajowhite);
  text-align: center;
  cursor: pointer;
}
.tags31 {
  top: 313px;
  left: 64px;
  width: 96px;
  height: 50px;
}
.users16 {
  top: 387px;
  left: 54px;
  width: 116px;
}
.search-icon15 {
  position: absolute;
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.ask-query-child7,
.ask-query-child8 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.ask-query-child8 {
  top: 373px;
}
.ask-your-query {
  position: absolute;
  top: 127px;
  left: 283px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.ask-query-child9,
.component-child {
  position: absolute;
  top: 250px;
  left: 300px;
  width: 1125px;
  height: 870px;
}
.component-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.be-specific-and,
.title {
  position: absolute;
  top: 42.22%;
  left: 4%;
}
.title {
  height: 13.78%;
  width: 14.4%;
  top: 14.22%;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
}
.component-item {
  position: absolute;
  height: 28.89%;
  width: 88.8%;
  top: 55.56%;
  right: 6.76%;
  bottom: 15.56%;
  left: 4.44%;
  background-color: var(--color-white);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  border: 0.6px solid var(--color-gray-200);
  box-sizing: border-box;
}
.write-something-here {
  position: absolute;
  top: 64%;
  left: 6.13%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1125px;
  height: 225px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.tags33 {
  position: absolute;
  height: 13.6%;
  width: 14.4%;
  top: 5.7%;
  left: 3.91%;
  font-weight: 600;
  display: inline-block;
}
.component-child1 {
  position: absolute;
  height: 32.89%;
  width: 87.64%;
  top: 50%;
  right: 7.91%;
  bottom: 17.11%;
  left: 4.44%;
  background-color: var(--color-white);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  border: 0.6px solid var(--color-gray-200);
  box-sizing: border-box;
}
.add-up-to {
  margin: 0;
}
.add-up-to-container {
  position: absolute;
  width: 74.4%;
  top: 34.21%;
  left: 4.44%;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
  display: inline-block;
}
.write-something-here1 {
  position: absolute;
  top: 58.77%;
  left: 6.13%;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
}
.rectangle-parent15 {
  position: absolute;
  top: 642px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1125px;
  height: 228px;
}
.problem-and-description {
  position: absolute;
  height: 8.4%;
  width: 60.71%;
  top: 12.47%;
  left: 4%;
  font-weight: 600;
  display: inline-block;
}
.introduce-the-problem-container {
  position: absolute;
  top: 29.54%;
  left: 4%;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.component-child3 {
  position: absolute;
  height: 47.97%;
  width: 89.16%;
  top: 42.55%;
  right: 6.4%;
  bottom: 9.49%;
  left: 4.44%;
  background-color: var(--color-white);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  border: 0.6px solid var(--color-gray-200);
  box-sizing: border-box;
}
.write-something-here2 {
  position: absolute;
  top: 50.14%;
  left: 6.67%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.rectangle-parent16 {
  position: absolute;
  top: 249px;
  left: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1125px;
  height: 369px;
}
.component-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightcyan);
}
.rectangle-frame {
  position: absolute;
  top: 887px;
  left: 207px;
  width: 129px;
  height: 51px;
}
.group-child162,
.post {
  position: absolute;
  height: 100%;
  top: 0;
}
.group-child162 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-cornflowerblue);
}
.post {
  width: 75.26%;
  left: 12.37%;
  display: inline-block;
}
.rectangle-parent17 {
  position: absolute;
  height: 4.77%;
  width: 8.62%;
  top: 120.84%;
  right: 2.13%;
  bottom: -25.61%;
  left: 89.24%;
  cursor: pointer;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.component-group {
  position: absolute;
  top: 250px;
  left: 300px;
  width: 1125px;
  height: 734px;
  overflow-y: auto;
  font-size: var(--font-size-17xl);
}
.group-child163 {
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-child163,
.group-child164,
.logout10 {
  position: absolute;
  cursor: pointer;
}
.group-child164 {
  top: 11px;
  left: 94px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 90px;
  height: 46px;
}
.logout10 {
  top: 25px;
  left: 114px;
}
.ellipse-parent8 {
  position: absolute;
  top: 5px;
  left: 1328px;
  width: 184px;
  height: 70px;
  font-size: var(--font-size-mini);
}
.logoprm-3-icon11 {
  position: absolute;
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.19%;
  bottom: 95.93%;
  left: 11.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ask-query3 {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
