.home-new-user-child,
.home-new-user-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.home-new-user-item {
  background-color: var(--color-darkslategray);
  height: 75px;
}
.home-new-user-inner {
  position: absolute;
  top: 10px;
  left: 355px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
  cursor: pointer;
}
.search-here19 {
  position: absolute;
  top: 19px;
  left: 450px;
  text-align: left;
  display: inline-block;
  width: 356px;
  height: 38px;
  cursor: pointer;
}
.k23 {
  font-weight: 700;
}
.querikorner23 {
  position: absolute;
  top: 19px;
  left: 9px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 38px;
  text-shadow: 0.6000000238418579px 0.6000000238418579px 2px #fff;
}
.home-new-user-child1 {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 907px;
}
.home-new-user-child2,
.home-new-user-child3 {
  position: absolute;
  left: 0;
  width: 225px;
  height: 75px;
}
.home-new-user-child2 {
  top: 225px;
  background-color: var(--color-teal);
  cursor: pointer;
}
.home-new-user-child3 {
  top: 150px;
  background-color: var(--color-tan);
}
.home23 {
  position: absolute;
  top: 168px;
  left: 54px;
  display: inline-block;
  width: 117px;
}
.home-new-user-child4 {
  position: absolute;
  top: 150px;
  left: 222px;
  background-color: var(--color-firebrick);
  width: 3px;
  height: 75px;
}
.home-new-user-child5,
.home-new-user-child6 {
  position: absolute;
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
  cursor: pointer;
}
.home-new-user-child6 {
  top: 375px;
}
.globe-icon23 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions24 {
  position: absolute;
  top: 245px;
  left: 7px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 211px;
  cursor: pointer;
}
.tags50 {
  margin: 0;
}
.tags49 {
  top: 313px;
  left: 64px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 96px;
  height: 50px;
}
.search-icon25,
.tags49,
.users25 {
  position: absolute;
  cursor: pointer;
}
.users25 {
  top: 387px;
  left: 54px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 116px;
}
.search-icon25 {
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.home-new-user-child7 {
  position: absolute;
  top: 10px;
  left: 1308px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 173px;
  height: 53px;
}
.home-new-user-child8,
.login11 {
  position: absolute;
  cursor: pointer;
}
.home-new-user-child8 {
  top: 10px;
  left: 1308px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 173px;
  height: 53px;
}
.login11 {
  top: 21px;
  left: 1356px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 77px;
  height: 32px;
}
.home-new-user-child10,
.home-new-user-child9 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.home-new-user-child10 {
  top: 373px;
}
.home-new-user-child11 {
  position: absolute;
  top: 226px;
  left: 224.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1288px;
  height: 1px;
}
.explore-questions3 {
  position: absolute;
  top: 120px;
  left: 276px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.home-new-user-child12 {
  position: absolute;
  top: 90px;
  left: 1318px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
  box-shadow: 2px 2px 2px #8a522a;
  border: 0.2px solid var(--color-black);
  box-sizing: border-box;
  width: 172px;
  height: 48px;
  cursor: pointer;
}
.ask-query6 {
  position: absolute;
  top: 96px;
  left: 1332px;
  font-weight: 300;
  color: var(--color-white);
  text-align: left;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.1px #000;
  cursor: pointer;
}
.home-new-user-child13 {
  position: absolute;
  top: 150px;
  left: 1298px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 192px;
  height: 62px;
}
.hot5,
.week5 {
  position: absolute;
  top: 165px;
  left: 1317px;
  font-weight: 300;
  text-align: left;
}
.week5 {
  left: 1404px;
}
.home-new-user-child14 {
  position: absolute;
  top: 149.5px;
  left: 1385.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 63.01px;
}
.home-new-user-child15 {
  position: absolute;
  top: 1103px;
  left: 237.5px;
  width: 1215px;
  height: 168px;
}
.group-child209,
.question-box42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1218px;
  height: 165px;
}
.group-child209 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
}
.what-is-string13 {
  position: absolute;
  height: 63.03%;
  width: 85.88%;
  top: 9.09%;
  left: 11.99%;
  font-size: var(--font-size-23xl);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
}
.group-child210,
.group-child211 {
  position: absolute;
  height: 21.21%;
  width: 11.49%;
  top: 70.91%;
  right: 76.44%;
  bottom: 7.88%;
  left: 12.07%;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.group-child211 {
  right: 61.58%;
  left: 26.93%;
}
.answer54,
.gravity10,
.quantum19,
.vote42 {
  position: absolute;
  height: 14.55%;
  width: 8.37%;
  top: 73.94%;
  left: 13.71%;
  display: inline-block;
}
.answer54,
.gravity10,
.vote42 {
  height: 13.94%;
  width: 8.87%;
  top: 74.55%;
  left: 28.33%;
}
.answer54,
.vote42 {
  height: 33.33%;
  width: 9.52%;
  top: 15.15%;
  left: 0.49%;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-darkslateblue);
  text-align: right;
}
.answer54 {
  height: 27.27%;
  top: 61.21%;
  color: var(--color-darkseagreen);
}
.group-child212 {
  position: absolute;
  height: 73.34%;
  width: 0.08%;
  top: 8.78%;
  right: 89.04%;
  bottom: 17.87%;
  left: 10.88%;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.question-box-parent39 {
  position: absolute;
  top: 763px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-xl);
}
.group-child214 {
  position: absolute;
  height: 21.21%;
  width: 10.84%;
  top: 70.91%;
  right: 45.89%;
  bottom: 7.88%;
  left: 43.27%;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.field-theory3,
.quantum20 {
  position: absolute;
  display: inline-block;
}
.quantum20 {
  height: 13.94%;
  width: 8.87%;
  top: 74.55%;
  left: 28.33%;
  font-size: var(--font-size-xl);
}
.field-theory3 {
  height: 14.55%;
  width: 8.95%;
  top: 73.94%;
  left: 44.58%;
}
.question-box-parent40,
.question-box-parent41 {
  position: absolute;
  top: 585px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-base);
}
.question-box-parent41 {
  top: 405px;
  font-size: var(--font-size-xl);
}
.does-general-relativity10 {
  position: absolute;
  height: 63.03%;
  width: 85.88%;
  top: 9.09%;
  left: 11.99%;
  font-size: var(--font-size-23xl);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.question-box-parent42 {
  position: absolute;
  top: 233px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-xl);
}
.next-page-des-child50 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 87.46%;
  bottom: 7.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div136 {
  position: absolute;
  top: 37.5%;
  left: 4.39%;
  font-weight: 300;
}
.next-page-des-child51 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 54.23%;
  bottom: 7.81%;
  left: 33.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div137 {
  position: absolute;
  top: 37.5%;
  left: 36.99%;
  font-weight: 300;
}
.next-page-des-child52 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 70.85%;
  bottom: 7.81%;
  left: 16.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div138,
.div139 {
  position: absolute;
}
.div138 {
  top: 37.5%;
  left: 21%;
  font-weight: 300;
}
.div139 {
  height: 68.75%;
  width: 21.94%;
  top: 0;
  left: 52.35%;
  font-size: var(--font-size-29xl);
  text-align: left;
  display: inline-block;
}
.next-page-des-child53 {
  position: absolute;
  height: 62.5%;
  width: 30.09%;
  top: 29.69%;
  right: 0;
  bottom: 7.81%;
  left: 69.91%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
}
.next13 {
  position: absolute;
  height: 62.5%;
  width: 22.57%;
  top: 37.5%;
  left: 74.29%;
  display: inline-block;
}
.next-page-des13 {
  position: absolute;
  top: 915px;
  left: 1136px;
  width: 319px;
  height: 64px;
  font-size: var(--font-size-5xl);
}
.logoprm-3-icon18 {
  position: absolute;
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.12%;
  bottom: 95.93%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home-new-user {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
