.questionsanswer-logged-in-child,
.questionsanswer-logged-in-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.questionsanswer-logged-in-item {
  background-color: var(--color-darkslategray);
  height: 75px;
}
.questionsanswer-logged-in-inner {
  position: absolute;
  top: 10px;
  left: 355px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
}
.search-here10 {
  position: absolute;
  top: 19px;
  left: 450px;
  display: inline-block;
  width: 356px;
  height: 38px;
}
.k10 {
  font-weight: 700;
}
.querikorner10 {
  position: absolute;
  top: 19px;
  left: 9px;
  color: var(--color-white);
  display: inline-block;
  width: 177px;
  height: 38px;
  cursor: pointer;
}
.questionsanswer-logged-in-child1 {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 907px;
}
.questionsanswer-logged-in-child2,
.questionsanswer-logged-in-child3 {
  position: absolute;
  top: 225px;
  left: 0;
  background-color: var(--color-tan);
  width: 225px;
  height: 75px;
  cursor: pointer;
}
.questionsanswer-logged-in-child3 {
  top: 150px;
  background-color: var(--color-teal);
}
.home10 {
  position: absolute;
  top: 168px;
  left: 54px;
  display: inline-block;
  color: var(--color-navajowhite);
  text-align: center;
  width: 117px;
  cursor: pointer;
}
.questionsanswer-logged-in-child4 {
  position: absolute;
  top: 225px;
  left: 222px;
  background-color: var(--color-firebrick);
  width: 3px;
  height: 75px;
}
.questionsanswer-logged-in-child5,
.questionsanswer-logged-in-child6 {
  position: absolute;
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
  cursor: pointer;
}
.questionsanswer-logged-in-child6 {
  top: 375px;
}
.globe-icon10 {
  position: absolute;
  top: 250px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions10 {
  position: absolute;
  top: 245px;
  left: 7px;
  display: inline-block;
  text-align: center;
  width: 211px;
  cursor: pointer;
}
.tags22 {
  margin: 0;
}
.tags21,
.users11 {
  position: absolute;
  display: inline-block;
  color: var(--color-navajowhite);
  text-align: center;
  cursor: pointer;
}
.tags21 {
  top: 313px;
  left: 64px;
  width: 96px;
  height: 50px;
}
.users11 {
  top: 387px;
  left: 54px;
  width: 116px;
}
.search-icon12 {
  position: absolute;
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.questionsanswer-logged-in-child7,
.questionsanswer-logged-in-child8 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.questionsanswer-logged-in-child8 {
  top: 373px;
}
.does-general-relativity6 {
  position: absolute;
  top: 86px;
  left: 255px;
  font-size: var(--font-size-23xl);
  display: inline-block;
  width: 1053px;
  height: 74px;
}
.questionsanswer-logged-in-child9 {
  position: absolute;
  top: 86px;
  left: 1315px;
  background-color: var(--color-cornflowerblue);
  width: 183px;
  height: 49px;
  cursor: pointer;
}
.add-a-new3 {
  position: absolute;
  top: 101px;
  left: 1323px;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  display: inline-block;
  width: 169px;
  height: 20px;
  cursor: pointer;
}
.frame-child5 {
  position: absolute;
  top: 0;
  left: 34.41px;
  width: 1218.19px;
  height: 2.5px;
}
.frame-child6,
.question-child7 {
  position: absolute;
  top: 273.27px;
  left: 24px;
  width: 1287px;
  height: 1px;
}
.question-child7 {
  height: 100%;
  width: 94.35%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 5.65%;
  border-radius: var(--br-xl);
  background-color: var(--color-azure);
}
.im-doing-some-container3 {
  position: absolute;
  height: 62.15%;
  width: 92.09%;
  top: 4.38%;
  left: 6.86%;
  font-size: var(--font-size-3xl);
  display: inline-block;
}
.question-child8 {
  position: absolute;
  height: 9.96%;
  width: 7.26%;
  top: 65.74%;
  right: 77.57%;
  bottom: 24.3%;
  left: 15.17%;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
}
.black-hole6 {
  position: absolute;
  height: 8.76%;
  width: 13.95%;
  top: 67.04%;
  left: 15.65%;
  display: inline-block;
}
.question-child9 {
  position: absolute;
  height: 8.76%;
  width: 11.05%;
  top: 66.53%;
  right: 65.15%;
  bottom: 24.7%;
  left: 23.8%;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
}
.general-relativity3 {
  position: absolute;
  height: 8.76%;
  width: 10.08%;
  top: 66.93%;
  left: 24.77%;
  display: inline-block;
}
.group-child76 {
  position: absolute;
  height: 100%;
  width: 67.31%;
  top: 0;
  right: 32.69%;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.div69,
.kevin3 {
  position: absolute;
  height: 47.37%;
  width: 62.82%;
  top: 8.77%;
  left: 37.18%;
  display: inline-block;
}
.div69 {
  height: 38.6%;
  width: 17.31%;
  top: 56.14%;
  font-size: var(--font-size-mini);
}
.rectangle-parent10 {
  position: absolute;
  height: 22.71%;
  width: 12.58%;
  top: 72.51%;
  right: 1.05%;
  bottom: 4.78%;
  left: 86.37%;
  font-size: var(--font-size-lg);
}
.group-child77,
.group-child78 {
  position: absolute;
  height: 15.03%;
  width: 105.7%;
  top: -0.48%;
  right: -2.93%;
  bottom: 85.45%;
  left: -2.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.group-child78 {
  height: 15.14%;
  width: 105.9%;
  top: 85.34%;
  right: -2.98%;
  bottom: -0.47%;
  left: -2.91%;
}
.div70 {
  position: absolute;
  height: 34.46%;
  width: 80.01%;
  top: 33.57%;
  left: 9.99%;
  display: inline-block;
}
.group-parent11 {
  position: absolute;
  height: 33.52%;
  width: 2.52%;
  top: 10.37%;
  right: 97.48%;
  bottom: 56.11%;
  left: 0;
  font-size: var(--font-size-xl);
}
.unsplashmou0s7vielq-icon3 {
  position: absolute;
  height: 17.53%;
  width: 3.55%;
  top: 75.3%;
  right: 9.68%;
  bottom: 7.17%;
  left: 86.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.question3 {
  position: absolute;
  top: 13px;
  left: 26.88px;
  width: 1240.12px;
  height: 251px;
  font-size: var(--font-size-mini);
}
.group-child79,
.group-child80 {
  position: absolute;
  height: 15.03%;
  width: 105.7%;
  top: -0.48%;
  right: -2.93%;
  bottom: 85.45%;
  left: -2.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child80 {
  height: 15.14%;
  width: 105.9%;
  top: 85.34%;
  right: -2.98%;
  bottom: -0.47%;
  left: -2.91%;
}
.group-child81,
.group-parent12 {
  position: absolute;
  height: 20.18%;
  width: 2.52%;
  top: 6%;
  right: 97.48%;
  bottom: 73.83%;
  left: 0;
}
.group-child81 {
  height: 100%;
  width: 82.69%;
  top: 0;
  right: 17.31%;
  bottom: 0;
  background-color: var(--color-gainsboro);
}
.image-11-icon9 {
  position: absolute;
  height: 77.19%;
  width: 27.56%;
  top: 8.77%;
  right: 67.95%;
  bottom: 14.04%;
  left: 4.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent11 {
  position: absolute;
  height: 13.67%;
  width: 12.58%;
  top: 84.41%;
  right: 1.05%;
  bottom: 1.92%;
  left: 86.37%;
  font-size: var(--font-size-lg);
}
.well-yes-but-container3 {
  position: absolute;
  width: 92.18%;
  top: 2.16%;
  left: 6.94%;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.answer18,
.group-child82 {
  position: absolute;
  top: 302px;
  left: 27px;
  width: 1240px;
  height: 417px;
}
.group-child82 {
  height: 22.07%;
  width: 100%;
  top: 160.65%;
  right: 0;
  bottom: -82.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div73 {
  position: absolute;
  height: 51.88%;
  width: 80.02%;
  top: 0;
  left: 9.99%;
  display: inline-block;
}
.group-parent14 {
  position: absolute;
  height: 66.43%;
  width: 100%;
  top: 33.57%;
  right: 0;
  bottom: 0;
  left: 0;
}
.answer2-child1,
.group-parent13 {
  position: absolute;
  height: 55%;
  width: 2.51%;
  top: 11.76%;
  right: 97.49%;
  bottom: 33.24%;
  left: 0;
}
.answer2-child1 {
  height: 100%;
  width: 94.13%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 5.87%;
  border-radius: var(--br-xl);
  background-color: var(--color-azure);
}
.rectangle-parent12 {
  position: absolute;
  height: 37.25%;
  width: 12.55%;
  top: 53.59%;
  right: 1.13%;
  bottom: 9.15%;
  left: 86.32%;
  font-size: var(--font-size-lg);
}
.httpsenwikipediaorgwiki20 {
  text-decoration: underline;
}
.httpsenwikipediaorgwiki19 {
  color: inherit;
}
.a-black-hole-container3 {
  position: absolute;
  height: 93.46%;
  width: 92.44%;
  top: 6.54%;
  left: 6.68%;
  font-size: var(--font-size-sm);
  color: var(--font-inherit);
  display: inline-block;
}
.answer24 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.answer2-wrapper1,
.answer3-child1 {
  position: absolute;
  top: 740px;
  left: 27px;
  width: 1243px;
  height: 153px;
}
.answer3-child1 {
  height: 100%;
  width: 93.9%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 6.1%;
  border-radius: var(--br-xl);
  background-color: var(--color-azure);
}
.rectangle-parent13 {
  position: absolute;
  height: 7.16%;
  width: 12.52%;
  top: 90.33%;
  right: 1.12%;
  bottom: 2.51%;
  left: 86.36%;
}
.the-boundary-of3 {
  margin-bottom: 0;
}
.the-boundary-of-space-within-w3 {
  margin: 0;
  padding-left: var(--padding-lgi);
}
.its-worth-being-container3 {
  position: absolute;
  width: 91.73%;
  top: 1.26%;
  left: 7.14%;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  display: inline-block;
}
.answer34 {
  position: absolute;
  top: 916px;
  left: 24px;
  width: 1246px;
  height: 796px;
  font-size: var(--font-size-lg);
}
.component-parent {
  position: absolute;
  top: -13px;
  left: -24px;
  width: 1287px;
  height: 1712px;
}
.questionsanswer-logged-in-inner1 {
  position: absolute;
  top: 202px;
  left: 249px;
  width: 1246px;
  height: 780px;
  overflow-y: auto;
  font-size: var(--font-size-xl);
}
.group-child86 {
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-child86,
.group-child87,
.logout7 {
  position: absolute;
  cursor: pointer;
}
.group-child87 {
  top: 11px;
  left: 94px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 90px;
  height: 46px;
}
.logout7 {
  top: 25px;
  left: 114px;
}
.ellipse-parent5 {
  position: absolute;
  top: 5px;
  left: 1328px;
  width: 184px;
  height: 70px;
  font-size: var(--font-size-mini);
}
.logoprm-3-icon6 {
  position: absolute;
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.12%;
  bottom: 95.93%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.questionsanswer-logged-in {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
