.search-drop-downlogged-in-child,
.search-drop-downlogged-in-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.search-drop-downlogged-in-item {
  background-color: var(--color-darkslategray);
  height: 75px;
}
.search-drop-downlogged-in-inner {
  position: absolute;
  top: 10px;
  left: 355px;
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
}
.search-here2 {
  position: absolute;
  top: 19px;
  left: 450px;
  text-align: left;
  display: inline-block;
  width: 356px;
  height: 38px;
}
.k2 {
  font-weight: 700;
}
.querikorner2 {
  position: absolute;
  top: 19px;
  left: 9px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 38px;
  text-shadow: 0.6000000238418579px 0.6000000238418579px 2px #fff;
}
.search-drop-downlogged-in-child1,
.search-drop-downlogged-in-child2,
.search-drop-downlogged-in-child3 {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 907px;
}
.search-drop-downlogged-in-child2,
.search-drop-downlogged-in-child3 {
  top: 225px;
  height: 75px;
}
.search-drop-downlogged-in-child3 {
  top: 150px;
  background-color: var(--color-tan);
}
.home2 {
  position: absolute;
  top: 168px;
  left: 54px;
  display: inline-block;
  width: 117px;
}
.search-drop-downlogged-in-child4 {
  position: absolute;
  top: 150px;
  left: 222px;
  background-color: var(--color-firebrick);
  width: 3px;
  height: 75px;
}
.search-drop-downlogged-in-child5,
.search-drop-downlogged-in-child6 {
  position: absolute;
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
}
.search-drop-downlogged-in-child6 {
  top: 375px;
}
.globe-icon2 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions2 {
  position: absolute;
  top: 245px;
  left: 7px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 211px;
}
.tags5 {
  margin: 0;
}
.tags4,
.users2 {
  position: absolute;
  display: inline-block;
  color: var(--color-navajowhite);
}
.tags4 {
  top: 313px;
  left: 64px;
  width: 96px;
  height: 50px;
}
.users2 {
  top: 387px;
  left: 54px;
  width: 116px;
}
.search-icon2 {
  position: absolute;
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.search-drop-downlogged-in-child7,
.search-drop-downlogged-in-child8 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.search-drop-downlogged-in-child8 {
  top: 373px;
}
.search-drop-downlogged-in-child9 {
  position: absolute;
  top: 226px;
  left: 224.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1288px;
  height: 1px;
}
.explore-questions {
  position: absolute;
  top: 120px;
  left: 276px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.search-drop-downlogged-in-child10 {
  position: absolute;
  top: 90px;
  left: 1318px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
  box-shadow: 2px 2px 2px #8a522a;
  border: 0.2px solid var(--color-black);
  box-sizing: border-box;
  width: 172px;
  height: 48px;
}
.ask-query {
  position: absolute;
  top: 96px;
  left: 1332px;
  font-weight: 300;
  color: var(--color-white);
  text-align: left;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.1px #000;
}
.search-drop-downlogged-in-child11 {
  position: absolute;
  top: 150px;
  left: 1298px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 192px;
  height: 62px;
}
.hot,
.week {
  position: absolute;
  top: 165px;
  left: 1317px;
  font-weight: 300;
  text-align: left;
}
.week {
  left: 1404px;
}
.search-drop-downlogged-in-child12 {
  position: absolute;
  top: 149.5px;
  left: 1385.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 63.01px;
}
.rectangle-icon {
  position: absolute;
  top: 1103px;
  left: 237.5px;
  width: 1215px;
  height: 168px;
}
.group-inner,
.question-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 1218px;
  height: 165px;
}
.group-inner {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
}
.what-is-string {
  position: absolute;
  height: 63.03%;
  width: 85.88%;
  top: 9.09%;
  left: 11.99%;
  font-size: var(--font-size-23xl);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
}
.group-child1,
.group-child2 {
  position: absolute;
  height: 21.21%;
  width: 11.49%;
  top: 70.91%;
  right: 76.44%;
  bottom: 7.88%;
  left: 12.07%;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.group-child2 {
  right: 61.58%;
  left: 26.93%;
}
.answer,
.java,
.string,
.vote {
  position: absolute;
  height: 14.55%;
  width: 8.37%;
  top: 73.94%;
  left: 13.71%;
  display: inline-block;
}
.answer,
.string,
.vote {
  height: 13.94%;
  width: 8.87%;
  top: 74.55%;
  left: 28.33%;
}
.answer,
.vote {
  height: 33.33%;
  width: 9.52%;
  top: 15.15%;
  left: 0.49%;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-darkslateblue);
  text-align: right;
}
.answer {
  height: 27.27%;
  top: 61.21%;
  color: var(--color-darkseagreen);
}
.group-child3 {
  position: absolute;
  height: 73.34%;
  width: 0.08%;
  top: 8.78%;
  right: 89.04%;
  bottom: 17.87%;
  left: 10.88%;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.question-box-parent {
  position: absolute;
  top: 763px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-xl);
}
.string-theory {
  height: 14.55%;
  width: 8.37%;
  top: 73.94%;
  left: 13.71%;
  font-size: var(--font-size-base);
}
.answer1,
.quantum,
.string-theory,
.vote1 {
  position: absolute;
  display: inline-block;
}
.quantum {
  height: 13.94%;
  width: 8.87%;
  top: 74.55%;
  left: 28.33%;
  font-size: var(--font-size-xl);
}
.answer1,
.vote1 {
  height: 33.33%;
  width: 9.52%;
  top: 15.15%;
  left: 0.49%;
  font-weight: 600;
  color: var(--color-darkslateblue);
  text-align: right;
}
.answer1 {
  height: 27.27%;
  top: 61.21%;
  color: var(--color-darkseagreen);
}
.question-box-group {
  position: absolute;
  top: 585px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-5xl);
}
.group-child9 {
  position: absolute;
  height: 21.21%;
  width: 10.84%;
  top: 70.91%;
  right: 45.89%;
  bottom: 7.88%;
  left: 43.27%;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.string-theory1 {
  position: absolute;
  height: 14.55%;
  width: 8.95%;
  top: 73.94%;
  left: 44.58%;
  font-size: var(--font-size-base);
  display: inline-block;
}
.question-box-container {
  position: absolute;
  top: 405px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-xl);
}
.topological {
  position: absolute;
  height: 14.55%;
  width: 8.95%;
  top: 73.94%;
  left: 44.58%;
  display: inline-block;
}
.group-div {
  position: absolute;
  top: 233px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-xl);
}
.next-page-des-child {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 87.46%;
  bottom: 7.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  top: 37.5%;
  left: 4.39%;
  font-weight: 300;
}
.next-page-des-item {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 54.23%;
  bottom: 7.81%;
  left: 33.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div1 {
  position: absolute;
  top: 37.5%;
  left: 36.99%;
  font-weight: 300;
}
.next-page-des-inner {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 70.85%;
  bottom: 7.81%;
  left: 16.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div2,
.div3 {
  position: absolute;
}
.div2 {
  top: 37.5%;
  left: 21%;
  font-weight: 300;
}
.div3 {
  height: 68.75%;
  width: 21.94%;
  top: 0;
  left: 52.35%;
  font-size: var(--font-size-29xl);
  text-align: left;
  display: inline-block;
}
.next,
.next-page-des-child1 {
  position: absolute;
  height: 62.5%;
}
.next-page-des-child1 {
  width: 30.09%;
  top: 29.69%;
  right: 0;
  bottom: 7.81%;
  left: 69.91%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
}
.next {
  width: 22.57%;
  top: 37.5%;
  left: 74.29%;
  display: inline-block;
}
.next-page-des {
  position: absolute;
  top: 915px;
  left: 1136px;
  width: 319px;
  height: 64px;
  font-size: var(--font-size-5xl);
}
.search-drop-downlogged-in-child13 {
  position: absolute;
  top: 63px;
  left: 355px;
  background-color: var(--color-white);
  width: 902px;
  height: 250px;
}
.what-is-string1,
.why-is-irrational {
  position: absolute;
  left: 507px;
  font-size: var(--font-size-21xl);
  text-align: left;
}
.what-is-string1 {
  top: 91px;
  cursor: pointer;
}
.why-is-irrational {
  top: 159px;
}
.pi-icon {
  position: absolute;
  top: 165px;
  left: 628px;
  width: 34px;
  height: 35px;
  object-fit: cover;
}
.why-is-c {
  position: absolute;
  top: 227px;
  left: 507px;
  font-size: var(--font-size-21xl);
  text-align: left;
}
.ellipse-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-child18 {
  position: absolute;
  top: 11px;
  left: 94px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 90px;
  height: 46px;
}
.ellipse-group,
.logout1 {
  position: absolute;
  top: 25px;
  left: 114px;
}
.ellipse-group {
  top: 5px;
  left: 1328px;
  width: 184px;
  height: 70px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.logoprm-3-icon {
  position: absolute;
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.12%;
  bottom: 95.93%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.search-drop-downlogged-in {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
