.search-drop-downnew-user-child,
.search-drop-downnew-user-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.search-drop-downnew-user-item {
  background-color: var(--color-darkslategray);
  height: 75px;
}
.search-drop-downnew-user-inner {
  position: absolute;
  top: 10px;
  left: 355px;
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
}
.search-here12 {
  position: absolute;
  top: 19px;
  left: 450px;
  text-align: left;
  display: inline-block;
  width: 356px;
  height: 38px;
}
.k16 {
  font-weight: 700;
}
.querikorner16 {
  position: absolute;
  top: 19px;
  left: 9px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 38px;
  text-shadow: 0.6000000238418579px 0.6000000238418579px 2px #fff;
}
.search-drop-downnew-user-child1,
.search-drop-downnew-user-child2,
.search-drop-downnew-user-child3 {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 907px;
}
.search-drop-downnew-user-child2,
.search-drop-downnew-user-child3 {
  top: 225px;
  height: 75px;
}
.search-drop-downnew-user-child3 {
  top: 150px;
  background-color: var(--color-tan);
}
.home16 {
  position: absolute;
  top: 168px;
  left: 54px;
  display: inline-block;
  width: 117px;
}
.search-drop-downnew-user-child4 {
  position: absolute;
  top: 150px;
  left: 222px;
  background-color: var(--color-firebrick);
  width: 3px;
  height: 75px;
}
.search-drop-downnew-user-child5,
.search-drop-downnew-user-child6 {
  position: absolute;
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
}
.search-drop-downnew-user-child6 {
  top: 375px;
}
.globe-icon16 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions16 {
  position: absolute;
  top: 245px;
  left: 7px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 211px;
}
.tags35 {
  margin: 0;
}
.tags34,
.users17 {
  position: absolute;
  display: inline-block;
  color: var(--color-navajowhite);
}
.tags34 {
  top: 313px;
  left: 64px;
  width: 96px;
  height: 50px;
}
.users17 {
  top: 387px;
  left: 54px;
  width: 116px;
}
.search-icon16 {
  position: absolute;
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.search-drop-downnew-user-child7 {
  position: absolute;
  top: 10px;
  left: 1308px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 173px;
  height: 53px;
}
.login5 {
  position: absolute;
  top: 21px;
  left: 1356px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 77px;
  height: 32px;
}
.search-drop-downnew-user-child10,
.search-drop-downnew-user-child9 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.search-drop-downnew-user-child10 {
  top: 373px;
}
.search-drop-downnew-user-child11 {
  position: absolute;
  top: 226px;
  left: 224.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1288px;
  height: 1px;
}
.explore-questions2 {
  position: absolute;
  top: 120px;
  left: 276px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.search-drop-downnew-user-child12 {
  position: absolute;
  top: 90px;
  left: 1318px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkorange);
  box-shadow: 2px 2px 2px #8a522a;
  border: 0.2px solid var(--color-black);
  box-sizing: border-box;
  width: 172px;
  height: 48px;
}
.ask-query4 {
  position: absolute;
  top: 96px;
  left: 1332px;
  font-weight: 300;
  color: var(--color-white);
  text-align: left;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.1px #000;
}
.search-drop-downnew-user-child13 {
  position: absolute;
  top: 150px;
  left: 1298px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  width: 192px;
  height: 62px;
}
.hot3,
.week3 {
  position: absolute;
  top: 165px;
  left: 1317px;
  font-weight: 300;
  text-align: left;
}
.week3 {
  left: 1404px;
}
.search-drop-downnew-user-child14 {
  position: absolute;
  top: 149.5px;
  left: 1385.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 63.01px;
}
.search-drop-downnew-user-child15 {
  position: absolute;
  top: 1103px;
  left: 237.5px;
  width: 1215px;
  height: 168px;
}
.group-child165,
.question-box31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1218px;
  height: 165px;
}
.group-child165 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-500);
}
.what-is-string10 {
  position: absolute;
  height: 63.03%;
  width: 85.88%;
  top: 9.09%;
  left: 11.99%;
  font-size: var(--font-size-23xl);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
}
.group-child166,
.group-child167,
.group-child168 {
  position: absolute;
  height: 21.21%;
  width: 10.84%;
  top: 70.91%;
  right: 45.89%;
  bottom: 7.88%;
  left: 43.27%;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-100);
}
.group-child167,
.group-child168 {
  width: 11.49%;
  right: 76.44%;
  left: 12.07%;
}
.group-child168 {
  right: 61.58%;
  left: 26.93%;
}
.java5 {
  position: absolute;
  height: 14.55%;
  width: 8.37%;
  top: 73.94%;
  left: 13.71%;
  display: inline-block;
}
.answer43,
.processing3,
.python2,
.vote31 {
  position: absolute;
  height: 13.94%;
  width: 8.87%;
  top: 74.55%;
  left: 28.33%;
  display: inline-block;
}
.answer43,
.processing3,
.vote31 {
  height: 14.55%;
  width: 8.95%;
  top: 73.94%;
  left: 44.58%;
}
.answer43,
.vote31 {
  height: 33.33%;
  width: 9.52%;
  top: 15.15%;
  left: 0.49%;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-darkslateblue);
  text-align: right;
}
.answer43 {
  height: 27.27%;
  top: 61.21%;
  color: var(--color-darkseagreen);
}
.group-child169 {
  position: absolute;
  height: 73.34%;
  width: 0.08%;
  top: 8.78%;
  right: 89.04%;
  bottom: 17.87%;
  left: 10.88%;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
}
.question-box-parent28,
.question-box-parent29,
.question-box-parent30,
.question-box-parent31 {
  position: absolute;
  top: 763px;
  left: 260px;
  width: 1218px;
  height: 165px;
  font-size: var(--font-size-xl);
}
.question-box-parent29,
.question-box-parent30,
.question-box-parent31 {
  top: 585px;
}
.question-box-parent30,
.question-box-parent31 {
  top: 405px;
}
.question-box-parent31 {
  top: 233px;
}
.next-page-des-child34 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 87.46%;
  bottom: 7.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div92 {
  position: absolute;
  top: 37.5%;
  left: 4.39%;
  font-weight: 300;
}
.next-page-des-child35 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 54.23%;
  bottom: 7.81%;
  left: 33.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div93 {
  position: absolute;
  top: 37.5%;
  left: 36.99%;
  font-weight: 300;
}
.next-page-des-child36 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 70.85%;
  bottom: 7.81%;
  left: 16.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div94,
.div95 {
  position: absolute;
}
.div94 {
  top: 37.5%;
  left: 21%;
  font-weight: 300;
}
.div95 {
  height: 68.75%;
  width: 21.94%;
  top: 0;
  left: 52.35%;
  font-size: var(--font-size-29xl);
  text-align: left;
  display: inline-block;
}
.next-page-des-child37 {
  position: absolute;
  height: 62.5%;
  width: 30.09%;
  top: 29.69%;
  right: 0;
  bottom: 7.81%;
  left: 69.91%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
}
.next9 {
  position: absolute;
  height: 62.5%;
  width: 22.57%;
  top: 37.5%;
  left: 74.29%;
  display: inline-block;
}
.next-page-des9 {
  position: absolute;
  top: 915px;
  left: 1136px;
  width: 319px;
  height: 64px;
  font-size: var(--font-size-5xl);
}
.search-drop-downnew-user-child16 {
  position: absolute;
  top: 63px;
  left: 355px;
  background-color: var(--color-white);
  width: 902px;
  height: 250px;
}
.what-is-string11,
.why-is-irrational1 {
  position: absolute;
  left: 507px;
  font-size: var(--font-size-21xl);
  text-align: left;
}
.what-is-string11 {
  top: 93px;
  cursor: pointer;
}
.why-is-irrational1 {
  top: 159px;
}
.pi-icon1 {
  position: absolute;
  top: 165px;
  left: 628px;
  width: 34px;
  height: 35px;
  object-fit: cover;
}
.why-is-c1 {
  position: absolute;
  top: 227px;
  left: 507px;
  font-size: var(--font-size-21xl);
  text-align: left;
}
.logoprm-3-icon12 {
  position: absolute;
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.19%;
  bottom: 95.93%;
  left: 11.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.search-drop-downnew-user {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
