.sign-up-child,
.sign-up-inner,
.sign-up-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.sign-up-inner,
.sign-up-item {
  background-color: var(--color-darkslategray);
  height: 75px;
}
.sign-up-inner {
  top: 10px;
  left: 355px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
}
.search-here15 {
  position: absolute;
  top: 19px;
  left: 450px;
  text-align: left;
  display: inline-block;
  width: 356px;
  height: 38px;
}
.k19 {
  font-weight: 700;
}
.querikorner19 {
  position: absolute;
  top: 19px;
  left: 9px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 38px;
  cursor: pointer;
}
.sign-up-child1,
.sign-up-child2 {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 907px;
}
.sign-up-child2 {
  top: 225px;
  height: 75px;
}
.home19,
.sign-up-child3 {
  position: absolute;
  cursor: pointer;
}
.sign-up-child3 {
  top: 150px;
  left: 0;
  background-color: var(--color-tan);
  width: 225px;
  height: 75px;
}
.home19 {
  top: 168px;
  left: 54px;
  display: inline-block;
  width: 117px;
}
.sign-up-child4 {
  position: absolute;
  top: 150px;
  left: 222px;
  background-color: var(--color-firebrick);
  width: 3px;
  height: 75px;
}
.sign-up-child5,
.sign-up-child6 {
  position: absolute;
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
  cursor: pointer;
}
.sign-up-child6 {
  top: 375px;
}
.globe-icon19 {
  position: absolute;
  top: 250px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions20 {
  position: absolute;
  top: 245px;
  left: 7px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 211px;
}
.tags41 {
  margin: 0;
}
.tags40,
.users20 {
  position: absolute;
  display: inline-block;
  color: var(--color-navajowhite);
  cursor: pointer;
}
.tags40 {
  top: 313px;
  left: 64px;
  width: 96px;
  height: 50px;
}
.users20 {
  top: 387px;
  left: 54px;
  width: 116px;
}
.search-icon19 {
  position: absolute;
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.login6,
.sign-up-child7 {
  position: absolute;
  cursor: pointer;
}
.sign-up-child7 {
  top: 10px;
  left: 1308px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 173px;
  height: 53px;
}
.login6 {
  top: 22px;
  left: 1356px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 77px;
  height: 32px;
}
.group-child205,
.sign-up-child8,
.sign-up-child9 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.group-child205,
.sign-up-child9 {
  top: 373px;
}
.group-child205 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-azure-100);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.email,
.password,
.username {
  position: absolute;
  height: 6.63%;
  width: 27.07%;
  top: 8.62%;
  left: 7.46%;
  display: inline-block;
}
.password,
.username {
  top: 28.38%;
}
.password {
  top: 48.14%;
}
.group-child206,
.group-child207,
.group-child208 {
  position: absolute;
  height: 10.21%;
  width: 85.09%;
  top: 15.25%;
  right: 7.46%;
  bottom: 74.54%;
  left: 7.46%;
  background-color: var(--color-azure-100);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  border: 0.6px solid var(--color-gray-200);
  box-sizing: border-box;
}
.group-child207,
.group-child208 {
  top: 35.01%;
  bottom: 54.77%;
}
.group-child208 {
  top: 54.77%;
  bottom: 35.01%;
}
.rectangle-parent34 {
  position: absolute;
  height: 74.56%;
  width: 40.81%;
  top: 18.61%;
  right: 22.09%;
  bottom: 6.82%;
  left: 37.1%;
  text-align: left;
}
.passwords-must-contain {
  position: absolute;
  top: 701px;
  left: 607px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 525px;
  height: 49px;
}
.sign-up-child10 {
  position: absolute;
  height: 8.25%;
  width: 34.99%;
  top: 81.98%;
  right: 24.87%;
  bottom: 9.78%;
  left: 40.15%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.have-an-account-container,
.sign-up1 {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}
.sign-up1 {
  top: 825px;
  left: 750px;
  color: var(--color-white);
  width: 225px;
  height: 43px;
}
.have-an-account-container {
  top: 927px;
  left: 644px;
  width: 451px;
  height: 34px;
}
.logoprm-2-icon,
.logoprm-3-icon15 {
  position: absolute;
  top: 81px;
  left: 811px;
  width: 102px;
  height: 91px;
  object-fit: cover;
}
.logoprm-3-icon15 {
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.12%;
  bottom: 95.93%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-up {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
