.user-page-child,
.user-page-inner,
.user-page-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.user-page-inner,
.user-page-item {
  background-color: var(--color-darkslategray);
  height: 75px;
}
.user-page-inner {
  top: 10px;
  left: 355px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
}
.search-here13 {
  position: absolute;
  top: 19px;
  left: 450px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 356px;
  height: 38px;
}
.k17 {
  font-weight: 700;
}
.querikorner17 {
  position: absolute;
  top: 19px;
  left: 9px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  display: inline-block;
  width: 177px;
  height: 38px;
  cursor: pointer;
}
.user-page-child1 {
  position: absolute;
  top: 117px;
  left: 300px;
  border-radius: var(--br-mini);
  background-color: var(--color-azure);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 789px;
  height: 412px;
}
.user-page-child2,
.user-page-child3 {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 907px;
}
.user-page-child3 {
  top: 225px;
  height: 75px;
  cursor: pointer;
}
.user-page-child4 {
  position: absolute;
  top: 224px;
  left: 0;
  width: 225px;
  height: 2px;
}
.home17,
.user-page-child5 {
  position: absolute;
  cursor: pointer;
}
.user-page-child5 {
  top: 150px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
}
.home17 {
  top: 168px;
  left: 54px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-navajowhite);
  text-align: center;
  width: 117px;
}
.user-page-child6,
.user-page-child7,
.user-page-child8 {
  position: absolute;
  top: 150px;
  left: 222px;
  background-color: var(--color-teal);
  width: 3px;
  height: 75px;
}
.user-page-child7,
.user-page-child8 {
  top: 300px;
  left: 0;
  width: 225px;
  cursor: pointer;
}
.user-page-child8 {
  top: 375px;
}
.globe-icon17 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions17 {
  position: absolute;
  top: 245px;
  left: 7px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-navajowhite);
  text-align: center;
  width: 211px;
  cursor: pointer;
}
.tags37 {
  margin: 0;
}
.tags36,
.users18 {
  position: absolute;
  font-size: var(--font-size-11xl);
  display: inline-block;
  color: var(--color-navajowhite);
  text-align: center;
  cursor: pointer;
}
.tags36 {
  top: 313px;
  left: 64px;
  width: 96px;
  height: 50px;
}
.users18 {
  top: 387px;
  left: 54px;
  width: 116px;
}
.search-icon17 {
  position: absolute;
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.jennifer,
.user-page-child10,
.user-page-child9 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.jennifer,
.user-page-child10 {
  top: 373px;
}
.jennifer {
  top: 179px;
  left: 768px;
  font-size: 64px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  width: 282px;
  height: 90px;
}
.answers-678,
.answers1,
.questions-78,
.questions18,
.rating-2516 {
  position: absolute;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  display: inline-block;
  width: 241px;
}
.rating-2516 {
  top: 287px;
  left: 748px;
  text-align: center;
  height: 45px;
}
.answers-678,
.answers1,
.questions-78,
.questions18 {
  top: 362px;
  left: 768px;
  height: 54px;
}
.answers-678,
.answers1,
.questions18 {
  top: 437px;
  width: 229px;
}
.answers1,
.questions18 {
  top: 587px;
  left: 300px;
  font-size: var(--font-size-21xl);
  width: 269px;
  height: 61px;
}
.answers1 {
  top: 579px;
  left: 932px;
  width: 282px;
  height: 63px;
}
.user-page-child11 {
  position: absolute;
  top: 663px;
  left: 300px;
  border-radius: var(--br-mini);
  background-color: var(--color-azure);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 574px;
  height: 300px;
}
.how-do-i {
  position: absolute;
  top: 752px;
  left: 375px;
  display: inline-block;
  width: 487px;
  height: 55px;
}
.user-page-child12 {
  position: absolute;
  top: 660px;
  left: 926px;
  border-radius: var(--br-mini);
  background-color: var(--color-azure);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 575px;
  height: 303px;
}
.user-page-child13,
.user-page-child14,
.user-page-child15,
.user-page-child16,
.user-page-child17,
.user-page-child18 {
  position: absolute;
  top: 749.5px;
  left: 299.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 575px;
  height: 1px;
}
.user-page-child14,
.user-page-child15,
.user-page-child16,
.user-page-child17,
.user-page-child18 {
  top: 899.5px;
}
.user-page-child15,
.user-page-child16,
.user-page-child17,
.user-page-child18 {
  left: 926.5px;
}
.user-page-child16,
.user-page-child17,
.user-page-child18 {
  top: 824.5px;
  left: 925.5px;
}
.user-page-child17,
.user-page-child18 {
  top: 749.5px;
  left: 926.5px;
}
.user-page-child18 {
  top: 824.5px;
  left: 299.5px;
}
.how-do-i1,
.how-to-use {
  position: absolute;
  top: 675px;
  display: inline-block;
  width: 487px;
  height: 55px;
}
.how-to-use {
  left: 1012px;
  color: inherit;
  text-decoration: none;
}
.how-do-i1 {
  left: 375px;
}
.b,
.does-python-have,
.how-to-check,
.what-is-the13,
.what-is-the14,
.why-is-the {
  position: absolute;
  top: 902px;
  left: 1014px;
  display: inline-block;
  width: 487px;
  height: 55px;
}
.b,
.does-python-have,
.how-to-check,
.what-is-the14,
.why-is-the {
  top: 829px;
}
.b,
.does-python-have,
.how-to-check,
.why-is-the {
  top: 753px;
  left: 1013px;
}
.b,
.does-python-have,
.how-to-check {
  top: 899px;
  left: 375px;
}
.b,
.does-python-have {
  top: 827px;
}
.b {
  top: 4px;
  left: 11px;
  width: 32px;
  height: 21px;
}
.group-child185 {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: var(--color-steelblue);
  width: 50px;
  height: 38px;
}
.b1 {
  position: absolute;
  top: 10px;
  left: 12px;
  display: inline-block;
  width: 32px;
  height: 21px;
}
.group-child189 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-steelblue);
  width: 50px;
  height: 38px;
}
.b5 {
  position: absolute;
  top: 9px;
  left: 11px;
  display: inline-block;
  width: 32px;
  height: 21px;
}
.group-child190,
.rectangle-parent22 {
  position: absolute;
  top: 76px;
  left: 0;
  width: 50px;
  height: 38px;
}
.group-child190 {
  background-color: var(--color-steelblue);
}
.b6 {
  position: absolute;
  top: 85px;
  left: 11px;
  display: inline-block;
  width: 32px;
  height: 21px;
}
.rectangle-parent26 {
  position: absolute;
  top: 0;
  left: 638px;
  width: 50px;
  height: 38px;
}
.rectangle-parent29,
.rectangle-parent30,
.rectangle-parent31 {
  position: absolute;
  top: 71px;
  left: 0;
  width: 50px;
  height: 38px;
}
.rectangle-parent30,
.rectangle-parent31 {
  top: 221px;
}
.rectangle-parent31 {
  top: 148px;
  left: 2px;
}
.rectangle-parent23,
.rectangle-parent27,
.rectangle-parent28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 259px;
}
.rectangle-parent23,
.rectangle-parent27 {
  left: 638px;
}
.rectangle-parent23 {
  left: 0;
  width: 690px;
}
.rectangle-parent32,
.rectangle-parent33 {
  position: absolute;
  top: 148px;
  left: 0;
  width: 50px;
  height: 38px;
}
.rectangle-parent33 {
  top: 223px;
}
.parent,
.rectangle-parent18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 690px;
  height: 261px;
}
.parent {
  top: 690px;
  left: 312px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child201 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-child202,
.logout11 {
  position: absolute;
  cursor: pointer;
}
.group-child202 {
  top: 11px;
  left: 94px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 90px;
  height: 46px;
}
.logout11 {
  top: 25px;
  left: 114px;
}
.ellipse-parent9 {
  position: absolute;
  top: 5px;
  left: 1328px;
  width: 184px;
  height: 70px;
  font-size: var(--font-size-mini);
}
.logoprm-3-icon13,
.user-page-child19 {
  position: absolute;
  top: 168px;
  left: 348px;
  width: 372px;
  height: 313px;
  object-fit: cover;
}
.logoprm-3-icon13 {
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.12%;
  bottom: 95.93%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-page {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
