.users-logged-in-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightcyan);
  width: 1512px;
  height: 982px;
}
.users-logged-in-item {
  position: absolute;
  top: 205px;
  left: 265px;
  border-radius: var(--br-8xs);
  background-color: var(--color-azure);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 232px;
  height: 39px;
}
.search-user {
  position: absolute;
  top: 209px;
  left: 311px;
  font-size: var(--font-size-5xl);
}
.users-logged-in-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1512px;
  height: 75px;
}
.users-logged-in-child1 {
  position: absolute;
  top: 10px;
  left: 355px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 902px;
  height: 53px;
}
.search-here6 {
  position: absolute;
  top: 19px;
  left: 450px;
  text-align: left;
  display: inline-block;
  width: 356px;
  height: 38px;
}
.k6 {
  font-weight: 700;
}
.querikorner6 {
  position: absolute;
  top: 19px;
  left: 9px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 38px;
  cursor: pointer;
}
.users-logged-in-child2 {
  position: absolute;
  top: 75px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 907px;
}
.users-logged-in-child3,
.users-logged-in-child4 {
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
}
.users-logged-in-child3 {
  position: absolute;
  top: 225px;
  cursor: pointer;
}
.users-logged-in-child4 {
  top: 150px;
}
.home6,
.users-logged-in-child4,
.users-logged-in-child5 {
  position: absolute;
  cursor: pointer;
}
.home6 {
  top: 168px;
  left: 54px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 117px;
}
.users-logged-in-child5 {
  top: 300px;
  left: 0;
  background-color: var(--color-teal);
  width: 225px;
  height: 75px;
}
.users-logged-in-child6 {
  position: absolute;
  top: 375px;
  left: 0;
  background-color: var(--color-tan);
  width: 225px;
  height: 75px;
}
.globe-icon6 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 31px;
  height: 26px;
  object-fit: cover;
}
.questions6 {
  position: absolute;
  top: 245px;
  left: 7px;
  display: inline-block;
  color: var(--color-navajowhite);
  width: 211px;
  cursor: pointer;
}
.tags14 {
  margin: 0;
}
.tags13,
.users6 {
  position: absolute;
  display: inline-block;
}
.tags13 {
  top: 313px;
  left: 64px;
  color: var(--color-navajowhite);
  width: 96px;
  height: 50px;
  cursor: pointer;
}
.users6 {
  top: 387px;
  left: 54px;
  width: 116px;
}
.search-icon7,
.search-icon8 {
  position: absolute;
  top: 13px;
  left: 375px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.search-icon8 {
  top: 209px;
  left: 273px;
  width: 32px;
  height: 32px;
}
.users-logged-in-child7 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 225px;
  height: 2px;
}
.users-logged-in-child8,
.users-logged-in-child9 {
  position: absolute;
  top: 226px;
  left: 0;
  width: 225px;
  height: 2px;
}
.users-logged-in-child9 {
  top: 373px;
}
.users-logged-in-child10 {
  position: absolute;
  top: 375px;
  left: 222px;
  background-color: var(--color-firebrick);
  width: 3px;
  height: 75px;
}
.users-logged-in-child11,
.users-logged-in-child12,
.users-logged-in-child13 {
  position: absolute;
  top: 205px;
  left: 1264px;
  background-color: var(--color-azure);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 107px;
  height: 39px;
}
.users-logged-in-child12,
.users-logged-in-child13 {
  left: 1157px;
}
.users-logged-in-child13 {
  left: 1050px;
}
.users7 {
  position: absolute;
  top: 121px;
  left: 285px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  text-align: left;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.profile-child,
.users-logged-in-child14 {
  position: absolute;
  top: 327px;
  left: 263px;
  width: 1213px;
  height: 655px;
}
.profile-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  box-shadow: 2px 2px 2px #d9d9d9;
}
.div19 {
  position: absolute;
  top: 54.17%;
  left: 52.05%;
}
.albert,
.profile-item {
  position: absolute;
  top: 8.33%;
}
.profile-item {
  height: 80.21%;
  width: 39.27%;
  right: 56.62%;
  bottom: 11.46%;
  left: 4.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.albert {
  left: 49.32%;
}
.profile,
.profile-inner {
  position: absolute;
  height: 98.97%;
  width: 18.08%;
  top: 0;
  right: 81.92%;
  bottom: 1.03%;
  left: 0;
}
.profile-inner {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro);
}
.profile1,
.profile2,
.profile3 {
  position: absolute;
  height: 98.97%;
  width: 18.08%;
  top: 1.03%;
  right: 0;
  bottom: 0;
  left: 81.92%;
}
.profile2,
.profile3 {
  right: 28.16%;
  left: 53.76%;
  border-radius: var(--br-8xs);
  box-shadow: 2px 2px 2px #d9d9d9;
}
.profile3 {
  right: 55.33%;
  left: 26.59%;
  border-radius: var(--br-xl);
}
.profile-parent,
.user-scroll-inner {
  position: absolute;
  top: -1px;
  left: 0;
  width: 1211px;
  height: 97px;
}
.user-scroll-inner {
  top: 154px;
  left: 2px;
  border-radius: var(--br-8xs);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  height: 96px;
}
.user-scroll-child,
.user-scroll-inner1,
.user-scroll-inner2,
.user-scroll-inner3,
.user-scroll-inner4,
.user-scroll-inner5 {
  position: absolute;
  top: 296px;
  left: 2px;
  border-radius: var(--br-8xs);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 1211px;
  height: 96px;
}
.user-scroll-inner1,
.user-scroll-inner2,
.user-scroll-inner3,
.user-scroll-inner4,
.user-scroll-inner5 {
  top: 450px;
}
.user-scroll-inner2,
.user-scroll-inner3,
.user-scroll-inner4,
.user-scroll-inner5 {
  top: 604px;
}
.user-scroll-inner3,
.user-scroll-inner4,
.user-scroll-inner5 {
  top: 0;
}
.user-scroll-inner4,
.user-scroll-inner5 {
  top: 948px;
  left: 0;
}
.user-scroll-inner5 {
  top: 776px;
}
.next-page-des-child10 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 87.46%;
  bottom: 7.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div47 {
  position: absolute;
  top: 37.5%;
  left: 4.39%;
  font-weight: 300;
}
.next-page-des-child11 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 54.23%;
  bottom: 7.81%;
  left: 33.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div48 {
  position: absolute;
  top: 37.5%;
  left: 36.99%;
  font-weight: 300;
}
.next-page-des-child12 {
  position: absolute;
  height: 62.5%;
  width: 12.54%;
  top: 29.69%;
  right: 70.85%;
  bottom: 7.81%;
  left: 16.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div49,
.div50 {
  position: absolute;
}
.div49 {
  top: 37.5%;
  left: 21%;
  font-weight: 300;
}
.div50 {
  height: 68.75%;
  width: 21.94%;
  top: 0;
  left: 52.35%;
  font-size: var(--font-size-29xl);
  text-align: left;
  display: inline-block;
}
.next-page-des-child13 {
  position: absolute;
  height: 62.5%;
  width: 30.09%;
  top: 29.69%;
  right: 0;
  bottom: 7.81%;
  left: 69.91%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gainsboro);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
}
.next3 {
  position: absolute;
  height: 62.5%;
  width: 22.57%;
  top: 37.5%;
  left: 74.29%;
  display: inline-block;
}
.next-page-des3 {
  position: absolute;
  top: 1114px;
  left: 894px;
  width: 319px;
  height: 64px;
  text-align: center;
}
.user-scroll-item {
  position: absolute;
  top: 1215px;
  left: 643px;
  width: 23px;
  height: 27px;
}
.user-scroll,
.user-scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1213px;
  height: 1242px;
}
.user-scroll-wrapper {
  top: 327px;
  left: 263px;
  height: 655px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.answers,
.new-user,
.rating {
  position: absolute;
  top: 211px;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.new-user {
  left: 1055px;
  text-align: left;
  width: 107px;
  height: 33px;
}
.answers,
.rating {
  left: 1160px;
  width: 106px;
  height: 38px;
}
.answers {
  left: 1269px;
  width: 98px;
  height: 33px;
}
.group-child30 {
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-child30,
.group-child31,
.logout3 {
  position: absolute;
  cursor: pointer;
}
.group-child31 {
  top: 11px;
  left: 94px;
  border-radius: var(--br-11xl);
  background-color: var(--color-tan);
  width: 90px;
  height: 46px;
}
.logout3 {
  top: 25px;
  left: 114px;
}
.ellipse-parent1 {
  position: absolute;
  top: 5px;
  left: 1328px;
  width: 184px;
  height: 70px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.logoprm-3-icon2 {
  position: absolute;
  height: 4.07%;
  width: 2.98%;
  top: 0;
  right: 85.12%;
  bottom: 95.93%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.users-logged-in {
  position: relative;
  background-color: var(--color-saddlebrown);
  width: 100%;
  height: 982px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
