<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} - My Website</title>
    {% else %}
        <title>My Website</title>
    {% endif %}
</head>
<body>
    <h1>Base Template</h1>
    {% block content %}
        <p>This is the logged-in base template</p>
    {% endblock %}
    {% set var = "username" %}
    <!--  A button that links to login.html -->
    <a href="/myprofile">{{ session.username }}</h4>
    <a href="/logout" class="btn btn-primary">Logout</a>
    <a href="/tags/TagName" class="btn btn-primary">Tags</a>
    <a href="/questions/QuesScore" class="btn btn-primary">Questions</a>
    <a href="/users/UserId" class="btn btn-primary">Users</a>
    <a href="/ask" class="btn btn-primary">Ask</a>
</body>
</html>