{% if session.loggedin  %}
{% extends "base_loggedin.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>{{ details[1] }}</h1>
<p>{{ details[2] }}</p>
<p>{{ details[3] }}</p>
<p>{{ details[5] }}</p>
<p>{{ details[0] }}</p>


<!-- <form id="imageupload-form" enctype="multipart/form-data" method="POST" action="/image" >-->
<!--<label for="image">Image:</label>-->
<!--<input type="file" id="image" name="image"  required/>-->
<!--<br>-->
<!--<button type="submit" >Upload</button>-->
<!--</form>-->

{% endblock %}