<link rel ="stylesheet" href = "{{ url_for('static', filename='css/user_profile.css') }}">
{% if session.loggedin  %}
{% extends "base_loggedin.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block title %}Login{% endblock %}

{% block content %}

<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <img src="{{ details[4] }}" alt="Profile"  id ="usr_image">
            <h2>{{ details[1] }}</h2>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">{{ details[5] }}</p>

                <h5 class="card-title">Profile Details</h5>


                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Rating</div>
                  <div class="col-lg-9 col-md-8">{{ details[7] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Location</div>
                  <div class="col-lg-9 col-md-8">{{ details[6] }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ details[2] }}</div>
                </div>

              </div>
            </div>


<!-- <form id="imageupload-form" enctype="multipart/form-data" method="POST" action="/image" >-->
<!--<label for="image">Image:</label>-->
<!--<input type="file" id="image" name="image"  required/>-->
<!--<br>-->
<!--<button type="submit" >Upload</button>-->
<!--</form>-->

{% endblock %}