{% if session.loggedin  %}
{% extends "base_loggedin.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block title %}Question{% endblock %}
{% block content %}

<h2>Title :{{ question[0] }}</h2>
<h3>Description :{{ question[1] }}</h3>
<h3>score :{{ question[2] }}</h3>
<h3>Tags :{{ question[3] }}</h3>

<!-- WHat if no answer? -->
{% for answer in details %}
<p>Answer :{{ answer[1] }}</p>
<p>Score :{{ answer[2] }}</p>
<p>QuesId :{{ answer[3] }}</p>
<p>UserId :{{ answer[4] }}</p>
<p>UserName :{{ answer[12] }}</p>
<p>User Rating :{{ answer[16] }}</p>
{% endfor %}
<a href="{{ url_for('answer',id=details[0][5])}}"> Add a answer</a>

{% endblock %}