<link rel ="stylesheet" href = "{{ url_for('static', filename='css/questions.css') }}">
{% if session.loggedin  %}
{% extends "base_loggedin.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block title %}Questions{% endblock %}

{% block content %}
<!-- This is questions.html -->
<h1>Questions
<a href="/questions/QuesTitle" id="btn1"  class="btn btn-primary">Sort by Title</a>
<a href="/questions/QuesScore" id="btn2" class="btn btn-primary">Sort by Q Score</a>
</h1>
<div id="space"></div>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$', '$']],
                    displayMath: [['$$', '$$']]
                },
                "HTML-CSS": { preferredFont: "TeX", availableFonts: ["TeX"] },
                extensions: ["tex2jax.js", "toMathML.js"],
                jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
                showMathMenu: false
            });
        </script>

<div id="new">
{% for question in questions %}
         <div class="card mb-3" id="sample-card">
            <div class="row g-0" id="samp">
              <div class="col-md-2">
                <div class="d-flex flex-column align-items-center">
                  <button type="button" id = "vote-button" class="btn btn-secondary mb-1">
                    <span class="votes">{{ question[4] }}</span>
                    <span class="text-views ms-1">Votes</span>
                  </button>
                  <button type="button" id = "answer-button" class="btn btn-secondary mb-1">
                    
                    <span class="answers">{{ question[15] }}</span>
                    <span class="answers-text me-1">Answers</span>
                  </button>
                  <button type="button" id ="user-name"  class="btn btn-info">{{ question[9] }}</a>
                </div>
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ url_for('quesdetail',id=question[0])}}">{{ question[1] }}</a></h5>
                  <p class="card-text">{{ question[2] }}</p>
                  <div class="mt-3">
                    {% for tag1 in question[5] %}
                    <span class="badge bg-primary">{{ tag1 }}</span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>




{% endfor %}
        </div>
{% endblock %}