
<link rel ="stylesheet" href = "{{ url_for('static', filename='css/tags.css') }}">
{% if session.loggedin  %}
{% extends "base_loggedin.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block title %}Tags{% endblock %}

{% block content %}


  <!-- This is tags.html -->
    <h1>Tags
    <a href="/tags/TagName" id="btn1" class="btn btn-primary">Sort Alphabetically </a>
    <a href="/tags/QCount" id="btn2" class="btn btn-primary">Sort by Q Count</a>
    <a href="/tags/TagId" id="btn3" class="btn btn-primary">Sort by Tag Id</a> 
    </h1> 
    <table>
    <div id="new">
    
		{% for tag in tags %}
    <div class="tag-description">
      <div style="float: left; margin-right: 10px;">
      </div>
      <div style="float: left;">
        <div>
          <button class="btn btn-outline-light btn-lg px-5" id="tag-button" type="submit">{{ tag[1] }}</button> 
  <p style="display: inline-block; margin-left: 10px;">{{ tag[3] }} questions</p>
        </div>
        <p style="margin: 0; margin-top: 10px;">{{ tag[2] }}</p>
      </div>
      <div style="clear: both;"></div>
    </div>
		{% endfor %}
	</table>
{% endblock %}