{% extends "base_loggedin.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <h1>Tags</h1>
    <form id="login-form" method="GET" action="/tags2/{{ username }}">
        <label for="sort">Sort:</label>
        <input type="sort" id="sort" name="sort" />
        <br>
        <button type="submit">Enter</button>
      </form>
    <table>
		{% for tag in tags %}
		<tr>
			<td>{{ tag[0] }}</td>
			<td>{{ tag[1] }}</td>
            <td>{{ tag[2] }}</td>
            <td>{{ tag[3] }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}